@import "../utils/variables.scss";
@import "../utils/mixins.scss";
@import "../base/fonts.scss";

.banner {
  display: flex;
  justify-content: center;
  margin: 2rem;
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fafafa;
    margin: 2rem;
    padding: 3rem;
  }
  &__text_content {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
  .photographer_name {
    color: $color-secondary;
    font-size: 36px;
    margin: 0px;
    font-weight: normal;
    @include desktop {
      font-size: 64px;
    }
  }
  .photographer_location {
    color: $color-primary;
    font-size: 13px;
    margin: 0px;
    font-weight: normal;
    @include desktop {
      font-size: 24px;
    }
  }
  .photographer_desc {
    color: #525252;
    font-size: 13px;
    @include desktop {
      font-size: 18px;
    }
  }

  .tags_photographer_page {
    display: flex;
    justify-content: flex-start;
    // &__item {
    //   text-decoration: none;
    //   color: $color-primary;
    //   font-size: 13px;
    //   font-weight: 500;
    //   border-radius: 20px;
    //   border: solid 1px #c4c4c4;
    //   padding: 0.1rem 0.3rem;
    //   margin: 0.2rem;
    //   @include desktop {
    //     font-size: 18px;
    //   }
  }
}
