@import "../utils/variables.scss";
@import "../utils/mixins.scss";
@import "../base/fonts.scss";

.header_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem;
  @include desktop {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  .logo_img {
    width: 70%;
    @include desktop {
      display: flex;
      width: 90%;
    }
  }
  .go_main {
    visibility: hidden;
    position: fixed;
    top: 1%;
    left: 45%;
    background-color: $color-tertiary;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.3rem;
    margin: 0 auto;
  }
  .main_nav {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-wrap: wrap;
    width: 70%;
    margin: 3rem auto;
    @include desktop {
      justify-content: flex-start;
      margin: auto 0;
    }
    &__item {
      margin: 0.5rem 0rem;
      .tag_name {
        border-radius: 30px;
        border: solid 1px #c4c4c4;
        padding: 0.2rem 0.5rem;
        color: $color-primary;
        font-weight: bold;
        font-size: 1.8rem;
        @include desktop {
          font-size: 1rem;
        }
      }
      .tag_checkbox {
        opacity: 0;
        width: 0px;
        height: 0px;
      
  }
      .tag_checkbox:hover ~ .tag_name,
      .tag_checkbox:focus ~ .tag_name{
        background-color: $color-tertiary;
        color: #ffffff;
      }
      .tag_checkbox:checked ~ .tag_name {
        background-color: $color-primary;
        border-radius: 20px;
        border: solid 1px $color-primary;
        color: #ffffff;
        font-weight: bold;
        padding: 0.2rem 0.5rem;
        margin: 0.3rem;
      }
    }
  }
}

.header_photographer_page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
  @include desktop {
    width: 100%;
  }
}
