@import '../utils/variables.scss';
@import '../utils/mixins.scss';

body {
  margin: 0;
  padding: 0;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

.page_inner {
  position: relative;
  @include desktop {
    max-width: 1400px;
    margin: auto;
  }
}

main {
  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  //HOME PAGE
  .main_title {
    position: absolute;
    white-space: nowrap;
    font-size: 1.8rem;
    color: $color-primary;
    top: 3.25rem;
    right: 0;
    width: 35%;
    margin: 0;
    @include desktop {
      font-size: 2rem;
      width: 20%;
      padding: 0 2rem;
    }
  }
  .photographers_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  //PHOTOGRAPHER PAGE
  .media_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
