@import "../utils/variables.scss";
@import "../utils/mixins.scss";

body {
    @include desktop {
        max-width: 1400px;
        margin: auto;
    }
}
main {
    @include desktop {
      display: flex;
      justify-content: center;
    }
  .main_title {
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width : 35%;
    color: $color-primary;
    @include desktop {
        font-size: 2.3rem;
        width : 20%;
        margin: auto;
        
    }
  }
  .photographers {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    article {
        @include desktop {
            width: 25rem;
        }
    }
  }
}
