@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.dropdown_wrapper {
  display: none;
  @include desktop {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem 3rem;
    .sort_by {
      font-size: 18px;
      font-weight: bold;
    }

    .dropdown__trigger {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 170px;
      height: 70px;
      background: $color-primary;
      border-radius: 5px;
      color: #ffffff;
      font-size: 18px;
      cursor: pointer;
    }

    .expand {
      position: relative;
      width: 15px;
      height: 15px;
      color: #ffffff;
    }

    .dropdown {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 170px;
      margin: 2rem;
      &__content {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $color-primary;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        &__item {
          position: relative;
          display: block;
          color: #fff;
          font-size: 18px;
          padding: 1rem;
          cursor: pointer;
          text-decoration: none;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
          &.selected {
            display: none;
          }
          &:not(.selected) {
            border-top: solid 1px white;
          }
        }
      }
    }

    .dropdown.open {
      .dropdown__content {
        opacity: 1;
        visibility: visible;
      }
      .expand {
        display: none;
      }
    }
  }
}
