@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.lightbox_media {
  display: none;
  position: fixed;
  z-index: 1;
  animation: modalOpen 500ms;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: #ffffff;
  &__body {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 340px;
    height: 250px;
    @include desktop {
      // width: 1250px;
      // height: 985px;
      width: 78rem;
      height: 60rem;
    }
    .close_button_lightbox {
      position: absolute;
      top: 3rem;
      right: 3rem;
      margin: 1rem 3rem;
      cursor: pointer;
    }
    
    .close_button_lightbox,
    .previous_button,
    .next_button {
      font-size: 1rem;
      color: $color-primary;
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
    }
    .medium_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem;
      .lightbox_medium {
        width: 290px;
        height: 250px;
        //margin: 0 auto;
        
        align-items: center;
        @include desktop {
          // width: 1050px;
          // height: 900px;
          width: 65rem;
          height: 56rem;
          
        }
        &__miniature {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
      }
    }
    .lightbox_title {
      color: $color-primary;
      font-size: 14px;
      margin: 0.5rem;
      @include desktop {
        font-size: 24px;
        margin: 1rem 0;
      }
    }
  }
}
