@import "../utils/variables.scss";
@import "../utils/mixins.scss";

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

//photographer thumbnail on home page
.photographer_thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //   @include desktop {
  //       margin: 2rem;
  //   }
  &__picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: $shadow;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    .photographer_name {
      color: $color-secondary;
      font-size: 36px;
    }
    .photographer_location {
      color: $color-primary;
      font-size: 13px;
    }
    .photographer_desc {
      color: black;
      font-size: 11px;
      margin: 0.2rem;
    }
    .photographer_price {
      color: #757575;
      font-size: 10px;
    }
  }
}

.picture_profile {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
  box-shadow: $shadow;
  @include desktop {
    width: 200px;
    height: 200px;
  }
}

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.7rem 0;
  &__item {
    text-decoration: none;
    color: $color-primary;
    font-size: 13px;
    font-weight: 500;
    border-radius: 20px;
    border: solid 1px #c4c4c4;
    padding: 0.1rem 0.3rem;
    margin: 0.2rem;
    @include desktop {
      font-size: 18px;
    }
  }
}

//medium thumbnail on photographer page
.medium_thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include desktop {
    width: 350px;
    margin: 3rem;
  }
  &__miniature {
    width: 335px;
    height: 190px;
    border-radius: 5px;
    object-fit: cover;
    @include desktop {
      width: 350px;
      height: 300px;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .price_and_likes {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .medium_title,
    .medium_price,
    .medium_number_of_likes {
      color: $color-primary;
      font-size: 14px;
      margin: 0.4rem;
      @include desktop {
        font-size: 24px;
      }
    }
    .medium_title {
      text-overflow: ellipsis;
    }
  }
}

#medium_thumbnail__miniature {
  width: 335px;
    height: 190px;
    border-radius: 5px;
    object-fit: cover;
    @include desktop {
      width: 350px;
      height: 300px;
    }
}

.sticker_summary {
  display: none;
  @include desktop {
    background-color: $color-tertiary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 376px;
    height: 90px;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 5px;
    .total_likes {
      display: flex;
      align-items: center;
      .total_number_of_likes {
        font-size: 24px;
        margin: 0 0.5rem;
      }
    }
    .photographer_price {
      font-size: 24px;
    }
  }
}
