//colors
$color-primary: #901C1C;
$color-secondary: #d3573C;
$color-tertiary:#DB8876;

$shadow: 5px 5px 5px rgba(#7e7e7e, 0.3);


//breakpoints
$breakpoints: (
  desktop: 1000px,
  larger-desktop: 1400px
);