@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import "../utils/variables.scss";
@import "../utils/mixins.scss";

html {
  font-size: 2vw;
  @include desktop {
    font-size: 1vw;
  }
}

body {
    font-family: "DM sans", sans-serif;
    color: black;
    padding: 0px;
  }
  
  h1 {
    font-size: 2.25rem;
    color: black;
   
  }
  
  h2 {
    font-size: 2.25rem;
    color: black;
    margin: 0.5rem;
    font-weight: 400;

  }
  
  h3 {
    font-size: large;
    color: black;
    margin: 0.1rem;
    font-weight: 400;

  }
  
  h4 {
    font-size: large;
    font-weight: lighter;
    color: black;
    margin: 0.1rem;
  }
  
  p {
    font-size: large;
    font-weight: normal;
    margin: 0px;
  }

  a {
      text-decoration: none;
  }